.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.text{
    padding-bottom: 20px;
    margin-left: 85px;
    color: blue;
}
.data{
    padding-bottom: 10px
}

.forgot-pass{
    padding-bottom: 10px
}

.btn{
    padding-bottom: 10px
}

.sigup-link{
    padding-bottom: 10px
}

input[type="email"]{
    margin-left: 40px;
}

input[type="password"]{
    margin-left: 17px;
}